body {

}

p.italic {
	font-style:italic;
}

/*buttons*/
.btn-primary {
	background:#00b19a;
	border:1px solid #00b19a;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background:#414141;
	border:1px solid #414141;
}

/*header*/

header#top {
	/*background:rgba(0,0,0,0.02);*/
	padding:10px 0;
	border-bottom:1px solid rgba(0,0,0,0.05);
}


/*navbar*/
ul.nav.navbar-nav.navbar-right a {
	font-weight:600;
	color:#414141;
}

.navbar-brand {
	font-family: 'Lobster Two', cursive;
	font-size:2em;
	color:#00b19a;
}

.navbar-right {
	padding-right:15px;
}

/*jumbotron */

.jumbotron {
	background:#fff;
	padding:0;
}

.jumbotron .container {
	background:url('../images/hero-banner.png') no-repeat right bottom;
	border-bottom:1px solid rgba(0,0,0,0.05);
	padding-top: 48px;
	padding-bottom:48px;
}

.jumbotron h2, .jumbotron p {
	color:#414141;
}

.jumbotron h2 {

}

.jumbotron p {
	font-size:18px;
	color:rgba(0,0,0,0.5);
}

.jumbotron p span {
	color:rgba(0,0,0,0.25);
	padding:0 2px;
}

/*Gallery*/

.filter {
	margin: 0 auto;
	padding:10px 0;
}

.filter .filter-by {
	font-size:1.1em;
	font-weight:600;
	padding-top:20px;
	color:#414141;
}

.filter .thumbnail {
	text-align:center;
	border:0px none transparent;
}

.filter .thumbnail img {
	max-height:44px;
	margin-bottom:10px;
}

.filter .thumbnail span {
	color: #00b19a;

}

.thumbnail h2 {
	font-size:26px;
}

nav.page-nav {
	text-align:center;
}

/* detailed page */

.detail-title .breadcrumbs {
	width:100%;
	padding:15px;
}

.all-previews .preview img {
	max-width:100%;
}

.detail-upload .col-md-8.preview {
	padding-right:20px;
}

.detail-upload .details  {
    position: relative;
    float:right;
}

.details-sidebar {
	position:absolute;
}

.affix {
	position:fixed!important;
	top:0;
}

.all-previews .preview {
	margin-top:30px;

}

.all-previews .preview:first-child {
	margin-top:0px;
}

.all-previews-loader {
	padding-left:390px;
	padding-top:10px;
}

/* upload */

#upload {
    background-color: rgba(0,0,0,0.04);
    width: 100%;
    padding: 30px;
    border-radius: 3px;
}

#drop {
    background-color:#fff;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #414141;
 }

 #drop input {
 	display:none;
 }

 #drop a {
    background-color: #00b19a;
    padding: 12px 26px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    margin-top: 12px;
    line-height: 1;
}

 #upload ul {
    list-style: none;
    margin: 0 -30px;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid #fff;
}

#upload ul li {
    background-color: #333639;
    background-image: -webkit-linear-gradient(top, #333639, #303335);
    background-image: -moz-linear-gradient(top, #333639, #303335);
    background-image: linear-gradient(top, #333639, #303335);
    border-top: 1px solid #3d4043;
    border-bottom: 1px solid #2b2e31;
    padding: 15px;
    height: 52px;
    position: relative;
}

.hover {
	border:2px dashed red !important;
}